{% load staticfiles %}
{% load attr_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous">
    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}" media="screen">
  </head>
  <body>
    <div class="formblock">
      <img style="max-height:170px;width:100%;border-bottom:1px solid black;" src="media/nmountains.jpg" alt="">
      <form class="" action="" method="post" autocomplete="off">
        <p style="text-align:center; font-size:18px;padding-top:10px;">Have an account? Sign in</p>
        <div class="row login-row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {{ form.username|htmlattributes:"id:username" }}
          </div>
        </div>
        <div class="row login-row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            {{ form.password|htmlattributes:"id:password" }}
          </div>
        </div>

        {% csrf_token %}
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <input id='loginSubmit' class="btn" type="submit" name="" value="Submit">
          </div>

        </div>

      </form>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#username').attr('placeholder', 'Email Address');
        $('#password').attr('placeholder', 'Password');
      })
    </script>

  </body>
</html>
