body {
  background-color: #F0F0F0;
}

.member-navbar {
  background-color: #333;
  color: #9d9d9d;
  border-bottom: 5px solid #00A8F2;
  margin-bottom: 20px;
  /* height: 80px; */
}

.alert-box {
  color: darkred;
  border: 2px solid darkred;
  border-radius: 4px;
  padding: 5px;
  background-color: rgba(255,0,0,0.5);
  margin: 5px;
}

.groupsearchform {
  height: 30px;
}

.searchbtn {
  height: 35px;
  margin: 0px;
  width: 40px;
  padding: 4px;
}

.group-search {
  padding-bottom: 20px;
  border-right: 2px solid darkblue;
}

.search-sub-divider{
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkblue;
}

.group-box a {
  color: darkblue;
}

.group-box a:hover {
  text-decoration: none;
  color: blue;
}

.subscriptions-box {
  padding-top: 20px;
  border-right: 2px solid darkblue;
}

.event-box {
  background-color: white;
  padding: 5px;
}

.event-name {
  color: #00A8F2;
  font-size: 20px;
}
