{% extends 'leader_base.html' %}

{% block content %}
<div class="container">

</div>
<form class=""  method="post">
  <div class="row eventrow">
    <div class="col-md-2">
      <span>Alert Headline:</span>
    </div>
    <div class="col-md-6">
      {{ form.headline }}
    </div>
  </div>

  <div class="row eventrow">
    <div class="col-md-2">
      <span>Alert Details:</span>
    </div>
    <div class="col-md-6">
      {{ form.text }}
    </div>
  </div>

  <div class="row eventrow">
    <div class="col-md-2">
      <span>Hours Active:</span>
    </div>
    <div class="col-md-6">
      {{ form.hours_active }}
    </div>
  </div>

  <div class="row eventrow">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <input type="submit" id="eventSubmit" value="Submit">
    </div>
  </div>
  {% csrf_token %}

</form>
{% endblock %}
