{% extends 'leader_base.html' %}

{% block content %}



{% for e in request.user.userentityrelation_set.all %}

<h2>{{ e.entity.name }}</h2>


{% if request.user.get_alerts %}
<h4>Active Alerts</h4>
{% endif %}

{% for alert in request.user.get_alerts %}
  <span>Alert:</span>{{ alert.headline }} <span>Expiration:</span>{{ alert.expiration_time }}
{% endfor %}

<div class="row">
  <div class="col-md-3">
    <a href="{% url 'entity_update_view' e.entity.id e.entity.slug %}">Update</a>
    {{ e.entity.name }}
  </div>
  <div class="col-md-4">
    <a href="{% url 'event_create_view' e.entity.slug %}">Create Event</a>
    <a href="{% url 'alert_create_view' e.entity.slug %}">Create Alert</a>
  </div>
</div>



{% endfor %}

{% endblock %}
