{% extends 'member_base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if request.user.get_alerts %}
    {% for alert in request.user.get_alerts %}

    <div class="alert-box">
      <h3>{{ alert.headline }}</h3>
      <p>{{ alert.text }}</p>
    </div>

    {% endfor %}
    {% endif %}
  </div>
</div> <!-- end alert row -->

<div class="row">
  <div class="col-md-3">
    <h3>Search Groups</h3>
    <div class="group-search">
      <span>Enter group code:</span>
      <form class="" action="/lookup/" method="post">
        <input class="groupsearchform" type="text" name="code" value="">
        {% csrf_token %}
        <input class="btn btn-primary searchbtn" type="submit" name="" value="GO">
      </form>
    </div>
    <div class="search-sub-divider"></div>
    <div class="subscriptions-box">
      <h3>Subscriptions</h3>
      {% for e in request.user.userentityrelation_set.all %}
      <div class="group-box">
        <a href="{% url 'entity_detail_view' e.entity.id %}">{{ e.entity.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    <h3 style="text-align:center;">Upcoming Events</h3>
    {% for event in request.user.get_events %}
    {% if not event.is_expired %}
    <!-- <div class="event-box">
      <div class="row">
        <div class="col-md-3">{{ event.entity.name }}</div>
        <div class="col-md-3">{{ event.name }}</div>
        <div class="col-md-3">{{ event.location }}</div>
        <div class="col-md-3">{{ event.time }}</div>
      </div>
    </div> -->
    <div class="event-box">
      <div class="row">
        <div class="col-md-3">
          <span class="event-name">{{ event.name }} at {{ event.location }}</span><br>
          <span>{{ event.time }}</span>
        </div>
        <div class="col-md-3">
          {{ event.entity }}
        </div>
        <div class="col-md-3">
          <span>Attendance</span>
        </div>
        <div class="col-md-3">
          <span>RSVP</span>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
